extends layout

block layout-content
  div.View
    h1.Banner Login
    div.Message
      div.Title
        h3 Check In
        h1 Food For Devs
      span.Details Access the portal
    div.NavButtons
      a(href="/users")
          div.NavButton Next